<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>

  <body>
    <h1>
      WE'RE NOT READY YET.
    </h1>
    <p>
      hey, so sorry about this. Something here is under construction and not ready for yer eyes.
    </p>
  </body>
</html>
